<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<div ng-controller="MyCalc as vm"> <!--Controller As syntax -->
    A<input type="text" ng-model="vm.valA">
    B<input type="text" ng-model="vm.valB">
    <h1>Total={{vm.theSum}}</h1>
    <h1>Multiplication={{vm.mul}}</h1>
    <h1>divide={{vm.div}}</h1>
    <h1>Subtraction={{vm.sub}}</h1>
    <button ng-click="vm.addValues()">Add</button>
    <button ng-click="vm.mulValues()">Mul</button>
    <button ng-click="vm.divideValues()">Divide</button>
    <button ng-click="vm.subValues()">subtract</button>



</div>
<script>

    var app = angular.module('app',[]);

    app.controller('MyCalc',MyCalc);

    function MyCalc(){
        var vm = this;
        vm.valA = 0;
        vm.valB=0;
        vm.theSum=0;
        vm.mul=0;
         vm.sub =0;
         vm.div =0;




        vm.addValues = function(){
             //vm.theSum = (vm.valA) + (vm.valB);
            vm.theSum = parseInt(vm.valA) + parseInt(vm.valB);
        }
        vm.mulValues = function(){
            vm.mul = parseInt(vm.valA) * parseInt(vm.valB);
        }

        vm.divideValues = function(){
           vm.div= parseInt(vm.valA) / parseInt(vm.valB);
          // if(vm.div=NaN){ //how to deal with NaN concept 
           // vm.div=7;
          // }
        }
        
        vm.subValues = function(){
            vm.sub = parseInt(vm.valA) - parseInt(vm.valB);
        }

       
    }



</script>

</body>
</html>